<nav>
  <a routerLink="/list">Back to List</a>
</nav>
<hr>

<div *ngIf="contactId == 0 || (contactId > 0 && contact)">
  <div *ngIf="contactId > 0">
    <h2>Edit Contact</h2>
  </div>
  <div *ngIf="contactId == 0">
    <h2>Create Contact</h2>
  </div>

    <input type="hidden" [(ngModel)]="contactId" />
    
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" class="form-control" [(ngModel)]="contact.firstName"/>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" class="form-control" [(ngModel)]="contact.lastName"/>
    </div>

    <div class="form-group">
      <input type="radio" id="customer" name="contactCategory" value="Customet" [checked]="contact.contactCategory == 'Customer'" (change)="onChangeOfContactCategory('Customer')" />
      <label class="radio-inline" for="customer">Customer</label>
      <input type="radio" id="supplier" name="contactCategory" value="Supplier" [checked]="contact.contactCategory == 'Supplier'" (change)="onChangeOfContactCategory('Supplier')" />
      <label class="radio-inline" for="supplier">Supplier</label>
    </div>

    <div *ngIf="contact.contactCategory == 'Customer'">
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="date" class="form-control" [(ngModel)]="contact.birthday"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="contact.email"/>
      </div>
    </div>

    <div *ngIf="contact.contactCategory == 'Supplier'">
      <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" class="form-control" [(ngModel)]="contact.telephone"/>
      </div>       
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    
</div>

<div *ngIf="contactId > 0 && !contact">
  <p>Record not found!</p>
</div>

