.radio-inline {
    padding: 0px 30px 0px 5px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.sub-title .row .col-sm-6 span {
    font-weight: bolder;
}
.sub-title .row .col-sm-6 a {
    float: right;
}
.form-group button {
    margin-right: 20px;
}
.error-message {
    color: red;
    text-align: right;
}