<div class="container" *ngIf="somethingWrong.length <= 0">
  <div class="row">
    <div class="col">
      <a routerLink="/create">Create New Contact</a>
    </div>
  </div>
</div>

<div class="container" *ngIf="somethingWrong.length > 0">
  <div class="row">
    <div class="col text-danger">
      {{somethingWrong}}.
    </div>
  </div>
</div>

<div class="container" *ngIf="totalCount <= 0 && !loading && somethingWrong.length < 1">
  <p>No record found. Please create new contact by clicking above link.</p>
</div>

<div class="container" *ngIf="loading">
  <p>Please wait. I am loading ......</p>
</div>

<div class="container" *ngIf="totalCount > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Category</th>
        <th>Contact</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.category}}</td>
        <td>{{contact.contact}}</td>
        <td>
          <nav>
            <a class="action-link" routerLink="/edit/{{contact.id}}" (click)="onEdit(contact.id)">Edit</a>
            <a class="action-link" routerLink="/delete/{{contact.id}}" (click)="onDelete(contact.id)">Remove</a>
          </nav>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="row">
      <div class="col prev"><button class="btn btn-primary btn-sm" [disabled]="previousPage == currentPage" (click)=gotoPage(previousPage) [title]="previousPage">Prev</button></div>
      <div class="col middle">
        <form (ngSubmit)="gotoPage(jumpTo)" #pageForm="ngForm">
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="currentPage == jumpTo || jumpTo < 1 || jumpTo > totalPage" [title]="jumpTo">Jump to</button>
            <input class="form-control form-control-sm" type="number" id="page" name="page" [(ngModel)]="jumpTo" min="1" max="{{totalPage}}" pattern="^\d+$" #page="ngModel" />
          </div>  
        </form>
        Page {{currentPage}}/{{totalPage}}, Records: {{totalCount}}
      </div>
      <div class="col next"><button class="btn btn-primary btn-sm" [disabled]="nextPage == currentPage" (click)=gotoPage(nextPage) [title]="nextPage">Next</button></div>
    </div>
  </div>
</div>

  