.middle
{
    text-align: center;
}
.next
{
    text-align: left;
}
.prev
{
    text-align: right;
}
.action-link
{
    padding: 0px 5px;
}
table tr 
{
    border-bottom: 1px solid lightgrey;
}
input#page
{
    width: 45px;
    margin-left: 5px;
    vertical-align: bottom;
    display: inline-flex;
}